<div class ="timeline" id="confirm">
    <h2>The following bookmarks have been added to your del.icio.us account:</h2>
    
    <% @statuses.each do |status| %>
      <p>
      <div style="float:left; margin:5px">
        <%= status %>
      </div>

    <br clear="all"/>
    
    <% end %>
    
</div>