<div class="timeline">
  <form method="post" action="/d_auth">
    <input style="font-size:20px" type="text" size=24 value="d_name"/>
    <input style="font-size:20px" type="password" value="d_password"/>
  </form>
</div>