<form method="post" action="d_auth">
<div class="del">
  
  <p><h1>Enter your del.icio.us credentials</h1></p>
    
    <p align="center">
    
    <input style="font-size:20px" type="text" size=24 name="d_name" value="username"/><br/>
    <input style="font-size:20px" type="password" size=24 name="d_password" value="password"/></p>
    <p align="center">
    <input type="checkbox" name="unfavorize"> Check to unfavoritize after bookmarking </p>
    <p align="center">
    <input style="font-size:30px" type="submit" value="Continue"/>
    <a href="http://rouflaquettes.heroku.com/timeline" name="delicious">Cancel</a>
    
    </p>
    <p align="center">Click the main page to close the slide window</p>
</div>
</form>