<div class="timeline">
  <form method="post" action="/d_auth">
    <input style="font-size:20px" type="text" size=24 name="d_name"/>
    <input style="font-size:20px" type="password" name="d_password"/><br/>
    <input style="font-size:20px" type="submit" value="continue"/>
  </form>
</div>