<!-- <div class="timeline">
  <form method="post" action="/d_auth">
    <input style="font-size:20px" type="text" size=24 name="d_name"/>
    <input style="font-size:20px" type="password" name="d_password"/><br/>
    <input style="font-size:30px" type="submit" value="continue"/>
  </form>
</div> -->

<input alt="#TB_inline?height=300&width=400&inlineId=myOnPageContent" title="add a caption to title attribute / or leave blank" class="thickbox" type="button" value="Show" />  
<a href="#TB_inline?height=155&width=300&inlineId=hiddenModalContent&modal=true" class="thickbox">Show hidden modal content.</a>