<html>
<head>
    <title>Twitter2Delicious</title>
    <link href="/main.css" media="screen" rel="Stylesheet" type="text/css" />
</head>
 
<body>
  <div>
    <h1>Convert your Twitter favorites to Del.icio.us bookmarks</h1>
  </div>
          
  <%= yield %>
</body>
</html>