<html>
<head>
    <title>Twitter2Delicious</title>
    <link href="/main.css" media="screen" rel="Stylesheet" type="text/css" />
</head>
 
<body>
  <div class="header">
    <h1>Convert your Twitter favorites to Del.icio.us bookmarks</h1>
  </div>
  
  <div id="nav" style="float:right">
      <p>
         <a href='/disconnect'>Logout</a>
      </p>
  </div>
          
  <%= yield %>
</body>
</html>