<html>
<head>
    <title>Sideburns - Twitter to del.icio.us converter</title>
    <link href="/main.css" media="screen" rel="Stylesheet" type="text/css" />
</head>
 
<body>
  
  <div class="nav">
    <p>
    <% if @user %>
      <a href='/disconnect'>Logout</a>
    <% end %>
    </p>
  </div>
  
  <div class="header">
    <h1>Convert your Twitter favorites to Del.icio.us bookmarks</h1>
  </div>
          
  <%= yield %>
  
  <div class="footer">
    <p></p>
  </div>

</body>
</html>