body {font-size:12px; font-family:verdana;}
img {border:none;}
h2 {font-size:24px;}

#header h1 {margin:0; font-size:24px; text-align: center;}

#content {
    margin:0 auto;
    width:600px;
}

#connect_button {
  margin:20 auto;
  width:250px;
  font-size:20px;
  color:red;
}

.nav {
	margin:0 auto;
	width:600px;
	text-align: right;
}

.header {
  margin:0 auto; 
  width:600px;
  text-align:center;
}

.timeline {
  margin: auto; 
  width:600px;
  border:1px;
	z-index: 2;
}

.del {
    background: silver;
    height: 100%;,
    padding: 15px 35px;
	color: black;
	font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	text-align: center;
	margin: 0;
	top: 0;
	position: fixed;
	right: 0;
}

.del h1 {
	color: #7dbb3e;
}

.error {
	color: red;
	font-size: 14px;
	text-align: center;
	border-style: solid;
	border-color: red;
	right: 300px;
	left: 300px;
	width: 800px;
	position: absolute;
}