body {font-size:12px; font-family:verdana;}
img {border:none;}
h2 {font-size:24px;}

#header h1 {margin:0; font-size:24px; text-align: center;}

#content {
    margin:0 auto;
    width:600px;
}

#connect_button {
  margin:20 auto;
  width:250px;
  font-size:20px;
  color:red;
}

.nav {
	margin:0 auto;
	width:600px;
	text-align: right;
}

.header {
  margin:0 auto; 
  width:600px;
  text-align:center;
}

.timeline {
  margin:0 auto; 
  width:600px;
  border:1px;
}

.del {
  margin:0 auto;
  background: #4f4f4f;
	color: white;
}

.del h1 {
	color: #b1ff87;
}